<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @equipment.quantity %>
</p>

<p>
  <strong>Aquisition date:</strong>
  <%= @equipment.aquisition_date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @equipment.weight %>
</p>

<p>
  <strong>Max weight:</strong>
  <%= @equipment.max_weight %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
