<!DOCTYPE html>
<html>
  <head>
    <title>Gymapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Gymapp</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% unless user_signed_in? %>
              <li><%= link_to "Entrar", new_user_session_path %></li>
            <% end %>

            <% if user_signed_in? %>
              <li><%= link_to "Equipamentos", equipment_index_path %></li>
              <li><%= link_to "Funcionários", employees_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
            <% end %>
          </ul>
          <%= form_tag "#", class: "navbar-form pull-right", method: :get, role: "search" do %>
            <div class="input-group">
              <%= text_field_tag :q, @query, class: "form-control", placeholder: "Procurar" %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success fade in" data-alert="alert">
          <a class="close" data-dismiss='alert' href="#">×</a>
          <p><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger fade in" data-alert="alert">
          <a class="close" data-dismiss='alert' href="#">×</a>
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
